[Unit]
Description=Nexus Repository Manager unit file
After=network-online.target
 
[Service]
Type=forking
 
User=nexus
Group=nexus
UMask=007
 
ExecStart=/opt/nexus/bin/nexus start
ExecStop=/opt/nexus/bin/nexus stop
 
Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target