[Unit]
Description=Nexus Repository Manager unit file
 
[Service]
Type=forking
PermissionsStartOnly=true
User=nexus
Group=nexus
ExecStartPre=/bin/install -d -o nexus -g nexus /opt/sonatype-work
ExecStart=/opt/nexus/bin/nexus start
ExecStop=/opt/nexus/bin/nexus stop
Restart=on-failure
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target