[Unit]
Description=Nexus Repository Manager unit file
 
[Service]
Type=forking
PermissionsStartOnly=true
User=nexus
Group=nexus
ExecStartPre=/bin/install -d -o nexus -g nexus /opt/sonatype-work
ExecStart={{ nexus_path.stdout }}/bin/nexus start
ExecStop={{ nexus_path.stdout }}/bin/nexus stop
Restart=on-failure
 
[Install]
WantedBy=multi-user.target